/* General Styles */

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-weight: 600
}

.text {
  width: 35%;
}

.text p {
  font-size: 13px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px
}

header button {
  border-radius: 20px;
  background-color: white;
  font-weight: 700;
  padding: 10px 45px;
  text-align: center;
  border: 1px solid hsl(208, 11%, 55%);
}

/* Starter */
.starter {
  display: flex;
  flex-direction: column;
  line-height: 2;
  border: 2px solid hsl(208, 11%, 55%);
  margin: 10px;
  padding: 20px;
  background-image: url(images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  align-content: center;
}

.starter button {
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 14px 50px;
  text-align: center;
  border-radius: 20px;
  border: 1px;
  max-width: 230px;
}


/* Community */

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  color: hsl(192, 100%, 9%);
  border: 1px solid hsl(208, 11%, 55%);;
  border-radius: 20px;
  width: 50%;
  z-index: 1;
  position: relative;
  left: 210px;
  top: 60px;
  padding: 10px;
}

.community button {
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 14px 50px;
  text-align: center;
  border-radius: 20px;
  border: 1px;
  max-width: 280px;
}

/* Descriptions */

.description {
  display: flex;
  flex-direction: column;
}

.growing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid hsl(208, 11%, 55%);
  margin: 20px 30px;;
  border-radius: 20px;
  box-shadow: 5px -5px 5px hsl(208, 11%, 55%);
  padding: 60px;
}

.growing .text p {
  color: hsl(208, 11%, 55%);
  line-height: 1.5;
}

.flowing {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  border: 1px solid hsl(208, 11%, 55%);
  margin: 20px 30px;
  border-radius: 20px;
  box-shadow: 5px -5px 5px hsl(208, 11%, 55%);
  padding: 60px;
}

.flowing .text p {
  color: hsl(208, 11%, 55%);
  line-height: 1.5;
}

.users {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid hsl(208, 11%, 55%);
  margin: 20px 30px;
  border-radius: 20px;
  box-shadow: 5px -5px 5px hsl(208, 11%, 55%);
  padding: 60px;
}

.users .text p {
  color: hsl(208, 11%, 55%);
  line-height: 1.5;
}

/* Images */

.description img {
  width: 35%;
}

.huddle-logo-header {
  width: 180px;
  height: 28px;
}

.huddle-logo-footer {
  width: 180px;
  height: 28px;
  color: white;
}

/* Footer */
footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  display: flex;
  flex-direction: row;
  line-height: 2;
}
